################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pong/FileContentIndex/d6e5298d-500c-47ce-b38e-e11155062272.vsidx
